@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'Minecraft';
    src: url('/minecraft/minecraft.woff2') format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    src: url('/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Montserrat-Medium.ttf');
}

@layer base {
    /* General styling */
    html {
        @apply bg-slate-100;
    }

    img {
        @apply select-none inline rounded-xl;
    }

    /* Headers */
    h1 {
        @apply lg:text-4xl md:text-5xl text-3xl font-bold font-quicksand mb-5;
    }

    h2 {
        @apply md:text-3xl text-xl tracking-wide text-gray-600 leading-loose mb-10;
    }
}
